# Ex - GroupBy

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Step 3. Assign it to a variable called drinks.

In [2]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv"

drinks = pd.read_csv(url)
drinks

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

### Step 4. Which continent drinks more beer on average?

In [ ]:
drinks.groupby("continent")["beer_servings"].mean().idxmax()

'EU'

### Step 5. For each continent print the statistics for wine consumption.

In [12]:
drinks.groupby("continent")["wine_servings"].describe().T

continent          AF          AS          EU         OC          SA
count       53.000000   44.000000   45.000000   16.00000   12.000000
mean        16.264151    9.068182  142.222222   35.62500   62.416667
std         38.846419   21.667034   97.421738   64.55579   88.620189
min          0.000000    0.000000    0.000000    0.00000    1.000000
25%          1.000000    0.000000   59.000000    1.00000    3.000000
50%          2.000000    1.000000  128.000000    8.50000   12.000000
75%         13.000000    8.000000  195.000000   23.25000   98.500000
max        233.000000  123.000000  370.000000  212.00000  221.000000

### Step 6. Print the mean alcohol consumption per continent for every column

In [17]:
drinks.groupby("continent")["total_litres_of_pure_alcohol"].mean()

continent
AF    3.007547
AS    2.170455
EU    8.617778
OC    3.381250
SA    6.308333
Name: total_litres_of_pure_alcohol, dtype: float64

### Step 7. Print the median alcohol consumption per continent for every column

In [26]:
drinks.drop("country", axis=1).groupby("continent").median()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,32.0,3.0,2.0,2.30
AS,17.5,16.0,1.0,1.20
EU,219.0,122.0,128.0,10.00
OC,52.5,37.0,8.5,1.75
SA,162.5,108.5,12.0,6.85

### Step 8. Print the mean, min and max values for spirit consumption per continent.

In [27]:
drinks.groupby("continent")["spirit_servings"].agg(["mean", "min", "max"])

                 mean  min  max
continent
AF          16.339623    0  152
AS          60.840909    0  326
EU         132.555556    0  373
OC          58.437500    0  254
SA         114.750000   25  302